// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";


body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}

#map {
  border-top: 1px solid #DDDDDD;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: lighter;
  opacity: 0.4;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: lighter;
  opacity: 0.4;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: lighter;
  opacity: 0.4;
}
:-moz-placeholder { /* Firefox 18- */
 font-weight: lighter;
 opacity: 0.4;
}
